 <div class="blue-grey lighten-5 pt-5">
    <div class="container mt-5 align-items-center">
        <div class="row align-items-center">
            <div class="col-md-3 text-center">
                <img src="https://media-exp1.licdn.com/dms/image/C5103AQH1L8ZSl7O6IA/profile-displayphoto-shrink_200_200/0?e=1594857600&v=beta&t=-mx6TST_dl2peIpjWOX1ekWBu_nt3jeOESpGTkcZV9w" alt="" class="img-fluid rounded-circle" style="width: 20vh;" srcset="">
                <br><br>
                <h3><b>Laxman Singh</b></h3>
                <p class="text-muted">Delhi, India</p>
            </div>
            <div class="col-md-9 col-12">
                <h1 style="font-weight: 350;color: #3c4043;" class="display-5"><b>Hello World!..</b></h1>
                <h4><b>This is my Website</b></h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi vel reprehenderit dolor expedita enim accusantium maiores neque commodi reiciendis? Suscipit neque explicabo ab odio! In pariatur quasi aliquid nesciunt quae.</p>

                <a href="laxmannegi.ui@gmail.com" class="btn btn-pink m-0 btn-md"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; YES, I'M AVAILABLE FOR HIRE</a>
                <br><br><br>
         
                <h5><b>Technical Skills</b></h5>
                <p>JavaScript, Google Cloud Platform, Angular</p>
                
                <br>
                
                <div>
                    <h5><b>Follow Me</b></h5>
                    <a href="#" target="_blank">
                        <i class="fa fa-google-plus fa-2x" aria-hidden="true" style="color:#2E2E2E;"></i>
                    </a>
                    &nbsp;   &nbsp;              
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook fa-2x" aria-hidden="true" style="color:#2E2E2E;"></i>
                    </a>
                    &nbsp; &nbsp; 
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="color:#2E2E2E;"></i>
                    </a>
                    &nbsp; &nbsp; 
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter fa-2x" aria-hidden="true" style="color:#2E2E2E;"></i>
                    </a>
                    &nbsp; &nbsp; 
                    <a href="#" target="_blank">
                        <i class="fa fa-github fa-2x" aria-hidden="true" style="color:#2E2E2E;"></i>
                    </a>        
                </div>
                <br><br>
                <p>Designed and Developed By <b><a href="https://codingurukul.com" style="color:#3c4043" target="_blank">Coding Gurukul</a></b></p>

            </div>
        </div>
    </div>

  
  </div>
